* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #eaeff9;
}
/* Tamanho da tela 393px */
.content{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}
/* Tamanho da tela 992px */
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;

    }
}
